.card-macet{
    .card-head{
        button{
            background-color: yellow;
            border-radius: 50px;
            display: flex;
            align-items: center;
            column-gap: 20px;
            border: 1px solid rgba(62, 60, 60, 0.113);
            &:hover{
                background-color: aqua;
                color: brown;
                border: 1px solid white;
            }
            img{
                height: 20px;
            }
        }
    }
    .card-decoration{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .card-name{
            text-align: center;
        }
        .card {
            height: 450px;
            width: 250px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 5px;
            margin: 20px;
            border-radius: 10px;
            .card-head {
                background-color: white;
                height: 300px;
                border-radius: 10px;
                .fichs {
                    padding: 10px;
                    .body-collor {
                        display: flex;
                        justify-content: space-between;
                        height: auto;
                        
                        p{
                            color: black;
                            background-color: #45FF58; 
                            padding: 0 10px;
                            border-radius: 50px;
                            display: flex;
                            align-items: center;
                        }
                        
                        img{
                            height: 30px;
                        }
                    }
                }
                .product-foto {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: 200px;
                        height: 220px;
                        object-fit: cover;
                        border-radius: 10px;
                        background-color: rgba(70, 7, 93, 0.299);
                    }
                }
                .warning-fich {
                    text-align: center;
                    p{
                        color: crimson;
                    }
                }
            }
            .card-body{
                background: linear-gradient(90deg, rgba(50, 57, 50, 0.92) 0%, rgba(106, 182, 109, 0.92) 100%);
                height: 135px;
                padding: 10px;
                margin: 5px 0 0 0;
                border-radius: 10px;
                .card-deskription{
                    .product-name{
                        font-size: 18px;
                        color: aqua;
                        overflow-wrap: break-word;
                        .desc{
                            color: rgb(255, 255, 255);
                            font-size: 14px;
                            overflow-wrap: break-word;
                        }
                    }
                }
                .charecters{
                    .price-info {
                        
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        .price{
                            color: white;
                        }
                        .discountedPrice{
                            color: crimson;
                            font-weight: 800;
                            font-size: 24px;
                        }
                        
                    }
                    
                }
            }
        }
    }
    
}
