.card-macet {
  display: flex;
  justify-content: left;
  width: 100%;
  position: relative;
  flex-direction: column;
  align-items: center;

  @media (min-width: 900px) {
    flex-direction: row;
    align-items: normal;
  }

  .card-head {
    button {
      background-color: yellow;
      border-radius: 50px;
      display: flex;
      align-items: center;
      column-gap: 20px;
      width: 150px;
      border: 1px solid rgba(62, 60, 60, 0.113);

      &:hover {
        background-color: aqua;
        color: brown;
        border: 1px solid white;
      }

      img {
        height: 20px;
      }
    }
  }

  .card-decoration {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;

    .card {
      width: 250px;
      height: 460px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
      padding: 7.5px;
      border-radius: 15px;

      @media (min-width: 900px) {
        height: 675px;
        width: 375px;
      }

      .card-head {
        background-color: white;
        height: 300px;
        border-radius: 15px;

        @media (min-width: 900px) {
          height: 450px;
        }

        .fichs {
          padding: 10px;
          @media (min-width: 900px) {
            padding: 15px;
          }
          .body-collor {
            display: flex;
            justify-content: space-between;
            height: auto;

            p {
              color: black;
              background-color: #45FF58;
              padding: 0 15px;
              border-radius: 50px;
              display: flex;
              align-items: center;
              font-size: 14px;
            }

            img {
              height: 30px;

              @media (min-width: 900px) {
                height: 45px;
              }
            }
          }
        }

        .product-foto {
          display: flex; 
          align-items: center;
          justify-content: center;

          img {
            width: 200px;
            height: 220px;
            object-fit: cover;
            border-radius: 15px;
            background-color: rgba(70, 7, 93, 0.299);

            @media (min-width: 900px) {
              width: 300px;
              height: 330px;
            }
          }
        }

        .warning-fich {
          text-align: center;

          p {
            color: crimson;
          }
        }
      }

      .card-body {
        background: linear-gradient(
          90deg,
          rgba(50, 57, 50, 0.92) 0%,
          rgba(106, 182, 109, 0.92) 100%
        );
        height: 135px;
        padding: 10px;
        margin: 7.5px 0 0 0;
        border-radius: 15px;

        @media (min-width: 900px) {
          height: 200px;
          padding: 15px;
        }

        .card-deskription {
          .product-name {
            font-size: 20px;
            color: aqua;
            overflow-wrap: break-word;

            .desc {
              color: rgb(255, 255, 255);
              font-size: 18px;
              overflow-wrap: break-word;
            }
            @media (min-width: 900px) {
              font-size: 27px;
              .desc {
                font-size: 21px;
              }
            }
          }
        }

        .charecters {
          .price-info {
            display: flex;
            
            justify-content: space-around;

            .price {
              color: white;
              font-size: 18px;
            }

            .discountedPrice {
              color: crimson;
              font-weight: 800;
              font-size: 26px;
              @media (min-width: 900px) {
                font-size: 36px;
              }
            }
          }
        }
      }
    }
  }
}
