#root {
  width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  .app-conteiner{
    width: 1440px;
    main{
      display: flex;
      .form-section {
        width: 490px;
        height: auto;
        background-color: #4F4444;
        padding:  0 0 20px 0;
        .section-name {
          text-align: center;
          background-color: #71D14E;
          margin:  0 0 20px 0;
          height: 60px;
        }
        .authUsers{
          display: flex;
          justify-content: center;
        }
        .create-block {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
        }
      }
      .pages-section {
        width: 970px;
        background-color: #188C85;
        padding:  0 0 20px 0;
        
        .pages-block {
          padding: 20px;
          margin: 45px;
          border-radius: 10px;
          background-color: #0F9D95;
        }
      }
    }
  }
}
