.colection {
    .collection-head {
        display: flex;
        justify-content: space-between;
        
        flex-direction: column;
        @media (min-width: 768px) {
            flex-direction: row;
            align-items: center;
        }
        button{
            background-color: yellow;
            border-radius: 50px;
            display: flex;
            align-items: center;
            column-gap: 20px;
            border: 1px solid rgba(62, 60, 60, 0.113);
            color: black;
            &:hover{
                background-color: aqua;
                color: brown;
                border: 1px solid white;
            }
            img{
                height: 20px;
            }
        }
    }
    .search-by-id{
        padding: 20px 0;
        input{
            width: 100%;
        }
    }
    .card-list{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        padding: 20px 0 0 0; 
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        @media (min-width: 924px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width: 1350px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (min-width: 1620px) {
            grid-template-columns: repeat(4, 1fr);
        }
        .card-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            .card {
                height: 450px;
                width: 250px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                padding: 5px;
                border-radius: 10px;
                .card-head {
                    background-color: white;
                    height: 300px;
                    border-radius: 10px;
                    .fichs {
                        padding: 10px;
                        .body-collor {
                            display: flex;
                            justify-content: space-between;
                            height: auto;
                            
                            p{
                                color: black;
                                background-color: #45FF58;
                                padding: 0 10px;
                                border-radius: 50px;
                            }
                            img{
                                height: 30px;
                            }
                        }
                    }
                    .product-foto {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img{
                            width: 200px;
                            height: 220px;
                            object-fit: cover;
                            border-radius: 10px;
                        }
                    }
                    .warning-fich {
                        text-align: center;
                        p{
                            color: crimson;
                        }
                    }
                }
                .card-body{
                    background: linear-gradient(90deg, rgba(50, 57, 50, 0.92) 0%, rgba(106, 182, 109, 0.92) 100%);
                    height: 135px;
                    padding: 10px;
                    margin: 5px 0 0 0;
                    border-radius: 10px;
                    .card-deskription{
                        .product-name{
                            font-size: 18px;
                            color: aqua;
                            overflow-wrap: break-word;
                            .desc{
                                color: rgb(255, 255, 255);
                                font-size: 14px;
                                overflow-wrap: break-word;
                            }
                        }
                    }
                    .charecters{
                        
                        .price-info {
                            display: flex;
                            justify-content: space-around;
                            .price{
                                color: white;
                                font-size: 14px;
                                text-decoration: line-through;
                            }
                            .discountedPrice{
                                color: crimson;
                                font-weight: 800;
                                font-size: 24px;
                            }
                            
                        }
                        
                    }
                }
            }
            .card-info{
                width: 250px;
                height: 140px;
                background-color: rgb(49, 144, 233);
                border-radius: 10px;
                margin: 5px 0 0 0;
                padding: 5px;
                display: flex;
                flex-direction: column;
                text-align: left;
                
                li{
                    padding: 0 5px;
                }
                button{
                    color: #00ffdd;
                }
                a{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    button{
                        height: 42px;
                        width: 100%;
                        color: #00ffdd;
                    }
                }
                
            }
        }
    }
}