.select-container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 5px 0;
}
.custom-select {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border-radius: 10px;
}
  
.selected-option {
    margin-top: 10px;
    font-size: 18px;
}
p{
    font-size: 20px;
}